
h1{
    font-family: 'Audiowide', cursive;
}
h2{
    font-family: 'Saira Extra Condensed', sans-serif;
}
h3{
    font-family: 'Dancing Script', cursive;
}
nav{
    font-family: 'NTR', sans-serif;
}
p{
    font-family: 'NTR', sans-serif;
}